BODY {
	font-family: sans-serif;
	background-color: #e8feff
}

H1 {
	color: #3bb2c6
}

#news {
	font-style: italic;
	background-color: #a7dbe4;;
	border-style: double;
	padding: 5px
}

#navbar {
	float: left;
	width: 13em;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-left: 10px;
	position: fixed;
	top: 1em;
	left: .5em;
}

#content {
	margin-left: 15em
}

#navbar ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#navbar li {
	list-style-type: none;
	margin-top: 10px;
	padding-top: 0px;
	white-space: nowrap;
}

#navbar li ul li {
	font-size: smaller;
	padding-right: 1em;
	margin-left: 5px;
	padding-left: 10px;
	padding-top: 0;
	margin-top: 5;
}

#stats td {
	padding-right: 1em
}

#diary td {
	padding-bottom: 1em
}

.contacts td {
	padding-right: 1em;
	vertical-align: top;
}